@using iakademi8_proje.Models
@model tbl_Products

@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/admin_layout.cshtml";

    IEnumerable<SelectListItem> cl = ViewData["catlist"] as IEnumerable<SelectListItem>;

    IEnumerable<SelectListItem> mr = ViewData["marlist"] as IEnumerable<SelectListItem>;
}

<br /><br />
<div class="portlet box green ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> ÜRÜN GİRİŞ FORMU
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        @*enctype = "multipart/form-data -> ürün resmini , controller gönderirken gereki olan satır"*@


        @using (Html.BeginForm("ProductAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">Ürün Kodu</label>
                <div class="col-md-9">
                    <input type="text" class="form-control input-lg" placeholder="Ürün Kodu" name="urunkodu" maxlength="50">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Ürün Adı</label>
                <div class="col-md-9">
                    <input type="text" class="form-control input-lg" placeholder="Ürün Adı" name="productname" maxlength="100" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Fiyat</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="Fiyat" name="price" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Kategori Seçiniz</label>
                <div class="col-md-9">
                    @Html.DropDownList("categoryID", cl, "Seçiniz", new { @required = "required", @class = "form-control input-lg" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Marka Seçiniz</label>
                <div class="col-md-9">
                    @Html.DropDownList("supplierID", mr, "Seçiniz", new { @required = "required", @class = "form-control input-lg" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Stok Adedi</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="Stok" name="stock" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">İndirim Oranı</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="İndirim" name="discount">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Durum</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="Durum" name="status">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Anahtar Kelimeler</label>
                <div class="col-md-9">
                    <input type="text" class="form-control input-lg" placeholder="Anahtar Kelimeler" name="keywords" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Desi Değeri</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="Hacmi" name="desidegeri" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Kdv</label>
                <div class="col-md-9">
                    <input type="number" class="form-control input-lg" placeholder="Kdv" name="kdv" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Notlar</label>
                <div class="col-md-9">
                    <input type="text" class="form-control input-lg" placeholder="Notlar" name="notes">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Resim Seçiniz</label>
                <div class="col-md-9">
                    @*multiple -> birden fazla resim seçerken kullanmak zorundayız*@
                    <input type="file" class="form-control input-lg" placeholder="Resim Seçiniz" name="fileuploader" required>
                </div>
            </div>

        </div>
            <div class="form-actions right1">
                <button type="button" class="btn default">İPTAL</button>
                <button type="submit" class="btn green">KAYDET</button>
            </div>
        }


    </div>
</div>
