
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/default_layout.cshtml";
}


<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li style="font-size:20px;color:#fff5fd;background-color:#e1701a;">
                                    <span>HAKKIMDA</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <a href="#" target="_blank"><img alt="" src="~/Content/img/ben.jpeg" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">MERHABA, BEN OĞUZCAN!</h2>
                        <div class="sppb-addon-content">
                            <p>
                                10 Mart 1996 Edirne doğumluyum.  Çocukluğumdan beri bilgisayar dillerine ve programlamaya hep ilgi duymuşumdur.
                                Sofya Teknik Üniversitesi'nde Bilgisayar Mühendisliği Ve Bilimleri bölümünden mezun oldum. Üniversite yıllarımda birçok  site projesinde yer aldım. Projeler geliştirmeye devam ediyorum.
                            </p>
                            <p><a href="@Url.Action("hakkimizda_dahafazla","Home")" class="readmore">Daha Fazla Bilgi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skrill-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">KATEGORİ</h2>
                    <p class="sppb-title-subheading">
                        .NET Developer – Yazılım ve Veritabanı Uzmanlığı
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="all-sk">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="a-skrill">
                        <div class="ask-title">
                            <h3>İÇERİKLER</h3>
                        </div>
                        <div class="ask-progress-bar wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".3s">
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">.Net Yazılım ve Veritabanı Uzmanlığı</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="70" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">JAVASCRIPT</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="70" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">HTML5/CSS3</span>
                                <div class="sppb_meter">
                                    <div style="width:100%" data-width="100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>100%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">BOOTSTRAP</span>
                                <div class="sppb_meter">
                                    <div style="width:100%" data-width="100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>100%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">AJAX</span>
                                <div class="sppb_meter">
                                    <div style="width:80%" data-width="80" aria-valuemax="80" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>80</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">.Net Core</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="70" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">MSSQL</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="70" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-tab-area">
                        <div class="ask-title">
                            <h3>TECRÜBELERİM</h3>
                        </div>
                        <div class="sk-tab wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".6s">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="about-us.html#vision" aria-controls="vision" role="tab" data-toggle="tab"> VİZYON</a></li>
                                <li role="presentation"><a href="about-us.html#mission" aria-controls="mission" role="tab" data-toggle="tab"> ÜNVANLAR</a></li>
                                <li role="presentation"><a href="about-us.html#results" aria-controls="results" role="tab" data-toggle="tab"> EĞİTİM</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="vision">
                                    <p>
                                        C# Programlama.
                                        <br />
                                        C# ile Nesne Yönelimli Tasarım yapabilme.
                                        <br />
                                        <br />
                                        Windows Forms ile Masaüstü Uygulama programlama.
                                        <br />
                                        <br />
                                        ASP.NET MVC, ASP.NET CORE WEB API ve ASP.NET Core ile web uygulamaları yaratabilme.
                                        <br />
                                        <br />
                                        Uygulamalarda Kimliklendirme ve Yetkilendirme uygulayabilme.
                                        <br />
                                        <br />
                                        Git kullanımı.
                                        <br />
                                        <br />
                                        T-SQL sorgulama ve programlama yapabilme.
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mission">
                                    <p>
                                        Bilgisayar Mühendisi
                                        <br />
                                        Uygulama Geliştirici
                                        <br />
                                        Yazılım Mimarı
                                        <br />
                                        Yazılım Uzmanı
                                        <br />
                                        Veritabanı Uzmanı
                                        <br />
                                        Full-Stack Developer
                                        <br />
                                        Back-End Developer
                                        <br />
                                        .NET Developer
                                    </p>
                                    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="results">
                                    <p>Eğitimim boyunca; C#’den HTML’e, JavaScript’ten ASP.NET Core’a kadar yazılım ve bilişim teknolojilerinin en önemli konularını öğrendim ve profesyonel yazılım projelerinde görev almayı sağlayacak kabiliyetimin olduğuna inanıyorum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-works-area">
                        <div class="ask-title">
                            <h3>BANA ULAŞIN</h3>
                        </div>
                        <div class="single-sk-works wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".9s">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                NERDEYİM
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <ul>
                                                <li> Pendik / İstanbul</li>
                                                <li>Telefon: 0 (530) 393 45 37</li>
                                                
                                                <li>oguzcankandemir@hotmail.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                BEN KİMİM
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Windows Service ve Web uygulamaları geliştirmek için C#, .NET Framework, SQL Server, HTML5, CSS3, jQuery, JavaScript, AJAX , Git Kullanımı, ADO.NET, ADO.NET Entity Framework, ASP.NET Identity, ASP.NET MVC, ASP.NET Core, ASP.NET CORE WEB API teknolojilerine hakim, uzman programcılar arasında yer almayı hedeflemekteyim.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                               HEDEF
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Analitik düşünme yeteneğine sahip, geleceğin teknolojisi olan nesne tabanlı programlamayı öğrenmeye ve bu sektörde çalışmaya istekliyim.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">EĞİTMENLER</h2>
                    <p class="sppb-title-subheading"></p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".3s">
                        <div class="team-thumb">
                            <img src="/Content/img/sedat.jpg" alt="">
                        </div>
                        <h3>Sedat Tefçi <br> <span>Eğitmen</span></h3>
                        <div class="st-ditele">
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".6s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/2.jpg" alt="">
                        </div>
                        <h3>Bilgen Hanım<br> <span>Creative developer</span></h3>
                        <div class="st-ditele">
                            
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".9s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/3.jpg" alt="">
                        </div>
                        <h3>Çağrı Hanım <br> <span>CEO / founder</span></h3>
                        <div class="st-ditele">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="1.2s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/4.jpg" alt="">
                        </div>
                        <h3>Sarp Vahabi <br> <span>Lead designer</span></h3>
                        <div class="st-ditele">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
