
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/default_layout.cshtml";
}


<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li style="font-size:20px;color:#fff5fd;background-color:#e1701a;">
                                    <span>İLETİŞİM BİLGİLERİMİZ</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li style="font-size:20px;color:#fff5fd;background-color:#e1701a;">
                                    <span>KONUM</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="googleMap" style="width:100%;height:433px;"></div>
                <div class="map-info-area">
                    <div class="clear"></div>

                    <div class="row">

                        <div class="col-sm-12 col-md-1 col-lg-1">

                        </div>

                        <div class="col-sm-12 col-md-10 col-lg-10" style="background-color:#CDF0EA;">
                            <div class="c-right-area">
                                <h6 class="sppb-addon-title">İLETİŞİM BİLGİLERİM</h6>
                                <div class="sppb-addon-content">
                                    <p>
                                        <span><em class="fa fa-map-marker"></em></span><b>Adres : </b>Şirinyer-Buca / İzmir
                                    </p>
                                    <p>
                                        <span><em class="fa fa-envelope"></em></span><b>Email : </b> oguzcankandemir@hotmail.com   <br />
                                        
                                         
                                       
                                    </p>
                                    <p>
                                        <span><em class="fa fa-phone"></em></span> Mobil  :
                                        0 (530) 393 45 37

                                    </p>

                                  

                                    <p>
                                        <span><em class="fa fa-phone"></em></span> WhatsApp :
                                        0 (530) 393 45 37
                                    </p>


                                </div>
                            </div>
                            <div class="c-right-area r-next">
                               
                                <div class="single-icons">
                                    <ul>
                                        <li><a data-toggle="tooltip" data-placement="top" title="Facebook iletişim" class="black-tooltip s-1" href="https://www.facebook.com/oguzcan.kandemir.16/"><i class="fa fa-facebook"></i> </a></li>
                                      
                                        
                                        <li><a data-toggle="tooltip" data-placement="top" title="İnstagram İletişim" class="black-tooltip s-4" href="https://www.instagram.com/ogzcn_96_/?hl=tr"><i class="fa fa-instagram"></i></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

