@{
    ViewBag.Title = "Onecikanlar";
    Layout = "~/Views/Shared/default_layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;


<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li style="font-size:20px;color:#fff5fd;background-color:#e1701a;">
                                    <span>ÖNE ÇIKAN ÜRÜNLER</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="shop--right">
                    <div class="s-r-sidebar-banar">
                        <img alt="" src="img/shopbannar.jpg">
                    </div>
                    <div class="shop-product">
                        <div class="row">
                            <div class="clear"></div>
                            <div class="singl-shop ">

                                @Html.PagedListPager((IPagedList)ViewBag.Onecikanlar, Page => Url.Action("Onecikanlar", new { Page }))

                                @foreach (var item in ViewBag.Onecikanlar)
                                {
                                 
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="sp-single">
                                            <div class="sp-img-area">
                                                <img class="first-img" src="~/Content/urunresimleri/@item.photopath" alt="" style="height:200px;" />
                                                <img class="hover-img" src="~/Content/urunresimleri/@item.photopath" alt="" style="height:200px;" />
                                                <div class="quick-view-detail">
                                                    <a href="/Home/detaylar/@item.productID">Detaylar</a>
                                                </div>
                                                <div class="sp-label-pro sp-label-pro-hot" style="background-color:yellow;color:black;font-weight:bold;">FAVORİ</div>
                                            </div>
                                            <div class="sp-info-area">
                                                <h2 class="product-name"><a title="@item.productname" href="/Home/detaylar/@item.productID">@item.productname </a></h2>
                                                <p class="all-prices">
                                                    <span class="sp-price main-price">@item.price TL</span>
                                                </p>
                                                <div class="sp-button">
                                                    <div class="s-button">
                                                        <a href="/Home/Sepet/@item.productID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
                                                    </div>
                                                    <div class="s-button">
                                                        <a href="" data-toggle="tooltip" data-placement="top" title="" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
                                                    </div>
                                                    <div class="s-button last-b ">
                                                        <a href="/Home/detaylar/@item.productID" data-toggle="tooltip" data-placement="top" title="Detaylar" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
